<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>希望之星2012英语风采大赛</title>
<style type="text/css">
<!--
body { margin:0; } 

#top {
	height: auto;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.STYLE4 {font-size: 12px}
#main {
	height: 500px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#main .cl {
	display: block;
	float: left;
	height: 480px;
	width: 280px;
	padding: 10px;
}
#main .cl .cltext {
	display: block;
	float: left;
	height: 477px;
	width: 277px;
	border: 1px solid #CCCCCC;
}
#main .cl .cltext .cltitle {
	line-height: 1.5;
	text-align: center;
	display: block;
	float: left;
	height: 60px;
	width: 276px;
	padding-top: 5px;
	font-weight: bold;
}
#main .cl .cltext .clcontent {
	display: block;
	float: left;
	height: auto;
	width: 276px;
	padding-top: 5px;
}
#main .cr {
	display: block;
	padding: 10px;
	float: left;
	height: 480px;
	width: 659px;
}
#main .cr .crtext {
	display: block;
	float: left;
	height: 477px;
	width: 656px;
	border: 1px solid #CCCCCC;
}
#main .cr .crtext .crtitle {
	line-height: 1.5;
	font-weight: bold;
	text-align: center;
	display: block;
	float: left;
	height: 30px;
	width: 655px;
	padding-top: 5px;
}
#main .cr .crtext .crcontent {
	display: block;
	float: left;
	height: 412px;
	width: 645px;
	padding: 5px;
}
#foot {
	background-image: url(images/ftbg.jpg);
	background-repeat: repeat-x;
	height: 87px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#foot .foottext {
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	float: left;
	height: auto;
	width: 939px;
	padding-top: 30px;
	padding-left: 40px;
}
-->
</style>
</head>

<body>
<div id="top"><img src="images/bmbg.jpg" /></div>
<div id="main">
	<div class="cl">
		<div class="cltext">
			<div class="cltitle">2012年度“希望之”星英语风采大赛太原赛区报名参赛系统</div>
			<div class="clcontent">
				<table cellpadding="2" cellspacing="3">
					<form id="form1" method="post" action="/apply/created">
                                <tbody>
                                  <% if @apply.errors.any? %>
                                    <% @apply.errors.messages.each do |message| %>
                                      <tr>
                                        <td><span class="STYLE4"><%= message.last.last.html_safe %></td>
                                      </tr>
                                    <% end %>
                                  <% end %>
                      <tr>
                                    <td><span class="STYLE4">E-Mail：</span></td>
                                    <td><span class="STYLE4">
                                    <input name="email" type="text" id="" class="">
                                    <span style="color: red">*</span></span></td>
                                </tr>
                                <tr>
                                    <td><span class="STYLE4">姓名：</span></td>
                                    <td><span class="STYLE4">
                                    <input name="name" type="text" id="" class="">
                                    <span style="color: red">*</span></span></td>
                                </tr>
                                <tr>
                                    <td><span class="STYLE4">身份证：</span></td>
                                    <td><span class="STYLE4">
                                    <input name="idcard" type="text" id="" class="">
                                    <span style="color: red">*</span></span></td>
                                </tr>
                                <tr>
                                    <td><span class="STYLE4">性别：</span></td>
                                    <td>
                                      <span class="STYLE4">
                                      <input id="RadBoy" type="radio" name="sex" value="male">
                                      <label>男</label>
&nbsp;&nbsp;
                                <input id="RadGril" type="radio" name="sex" value="female">
                                <label>女</label>
                                      </span></td>
                                </tr>
                                <tr>
                                    <td><span class="STYLE4">出生年月：</span></td>
                                    <td> <span class="STYLE4">
                                    <input name="birth" type="text" id="">
                                    <span style="color:Red;">*</span></span></td>
                                </tr>
                                <tr>
                                    <td><span class="STYLE4">参赛组别：</span></td>
                                    <td>
                                      <span class="STYLE4">
                                      <select name="grate" id="">
                                      	<option selected="selected" value="-2">--- 请选择 ---</option>
                                        <option value="4">小学低年级组</option>
                                        <option value="3">小学高年级组</option>
                                        <option value="2">初中组</option>
                                        <option value="1">幼儿组</option>
                                      </select>
                                  	  <span style="color:Red;">*</span></span> </td>
                                </tr>
                                <tr>
                                    <td><span class="STYLE4">学校/单位：</span></td>
                                    <td><input name="school" type="text" id=""></td>
                                </tr>
                                <tr>
                                    <td><span class="STYLE4">联系地址：</span></td>
                                    <td><span class="STYLE4">
                                    <input name="address" type="text" id="">
                                    <span style="color: red">*</span></span></td>
                                </tr>
                                <tr>
                                    <td><span class="STYLE4">电话：</span></td>
                                    <td><input name="tel" type="text" id=""></td>
                                </tr>
                                <tr>
                                    <td><span class="STYLE4">手机：</span></td>
                                    <td><span class="STYLE4">
                                    <input name="phone" type="text" id="">
                                    <span style="color: red">*</span></span></td>
                                </tr>
                                <tr>
                                    <td><span class="STYLE4">家长姓名：</span></td>
                                    <td><span class="STYLE4">
                                    <input name="pname" type="text" id="">
                                    <span style="color: red">*</span></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left"><span class="STYLE4">
                                      <label>
                                        <input type="submit" name="Submit" value="提交" />
                                      </label>
                                    </span> </td>
                                </tr>
                            </tbody></form></table></div>
						
		</div>
	</div>
	<div class="cr">
		<div class="crtext">
			<div class="crtitle">2012年度中央电视台“希望之星”英语风采大赛太原赛区章程</div>
			<div class="crcontent"><textarea cols="76" rows="28">
			
	2012年度中央电视台“希望之星”英语风采大赛太原市预选赛（以下简称大赛），是由中央电视台、市少工委、市妇联主办，以培养兴趣、增强信心、展示风采、树立榜样为目的，旨在选拔全市各行业、各阶层英语爱好者中的佼佼者，展示我市英语教学的现状，为我市的经济、文化建设创造良好的语言环境。大赛定于2011年12月至2012年6月在全市举行。

   【大赛简介】中央电视台“希望之星”英语风采大赛是国家广电总局正式批准的、中央电视台社教节目中心主办的面向全国的大型电视英语比赛，是中宣部、教育部唯一认可赛事。太原地区赛事分为幼儿组、小学低年级组、小学高年级组、初中组四个组别，是以广大中小学生为主体的全国同类比赛中规模最大、影响人数最多的一项英语赛事，为各年龄段的英语爱好者提供了一个实现英语梦想、展望美好未来的舞台。大赛自2000年起每年举办一届，影响人数累计超过8000万，2011年全国参赛人数超过220万。 2010年3月，中央电视台将原中央电视台英语频道（CCTV-9）播出的“CCTV杯全国英语演讲大赛”合并到科教频道（CCTV-10）播出的“中央电视台‘希望之星’英语风采大赛”，全力打造一个唯一能代表央视水平的新的品牌赛事，利用电视媒体的优势，为广大青少年提供展现英语水平和自我风采的舞台，树立新的青春榜样，力求广泛社会影响，为建立全民学习的学习型社会，增强我国的国际竞争力贡献力量。

一、	太原赛区组织机构
　　 主办单位：少工委，妇联
　   承办单位：瑞思学科英语（太原•北美新天地）中心 
　   协办单位：全国基础外语教育研究培训中心 
　　          山西省网上家长学校 

　   合作单位：中国教育国际交流协会 
　　          WWF（世界自然基金会） 
　　          中视传媒股份有限公司 
　   技术支持：央视国际网络
　　          央数文化（上海）股份有限公司 
　　          外语教学与研究出版社 
             美国教育考试服务中心（ETS） 
             英国大使馆文化教育处 
             中国人民大学出版社

二、 大赛主题 
我向世界表达中国——说服就是力量，激情成就梦想

三、 大赛宗旨
1、培养兴趣、增强信心、展示风采、树立榜样；
2、成长比成绩更重要，体验比名次更珍贵；

四、 大赛赛制 
1、大赛分为幼儿、小学低（1－3）年级、小学高（4－6）年级、初中四个组别； 
2、大赛分为海选、初赛、复赛、太原赛区决赛、山西省决赛和全国总决赛等六个阶段；
3、比赛形式除海选笔试外，一律采用面试形式，内容包括：自命题演讲、指定命题演讲、才艺展示、即兴问答。

五、 大赛赛程 
1、 大赛启动时间：2011年12月； 
2、 海选：2011年12月
a. 比赛形式： 海选笔试
b. 海选面试及说明会（拟定于2011年12月17日起举行） 
3、 初赛：拟定于 2012年2月举行；
4、 复赛：拟定于2011年3月举行
5、 决赛：拟定于2011年4月下旬举行
6、 全国预选赛和全国总决赛：拟定于2012年6-7月举行。

六、 参赛资格 
1、 凡喜爱英语的公民均可报名参加大赛，往届大赛中已经晋级全国总决赛的选手，不得再次报名参加同组别的比赛，往届进入全国预选赛选手可直接晋级同组别分赛区决赛。 
2、 已设立报名点的选手持本人身份证或户口本、学生证或工作证、一寸正面免冠近照2张，到本赛区公布的组织机构办理报名手续。 
3、参赛选手必须按照自己实际学籍状况报名参加本组别的比赛，严禁跨组别报名。

七、奖项设置
（一）本次比赛太原市奖项分设：
1、每组设一等奖、二等奖、三等奖、星光奖；
2、凡进入初赛的选手均获得星光奖，进入复赛环节的选手均获得三等奖，凡进入太原市总决赛但未进入前20名的选手均获得二等奖，进入前20名的选手除冠亚季军外均获得一等奖。
3、为获一等奖选手的指导教师设“优秀教师指导奖”；
4、对于对本次大赛的宣传、组织做出突出贡献的各单位颁发“优秀组织奖”。
根据国家广播电视总局下发的《广电总局关于进一步加强广播电视播出机构参与、主办或播出全国性或跨省（区、市）赛事等活动管理的通知》（2006年3月13日）中第4条的规定：“各级广播电视播出机构参与、主办或播出的全国性或跨省（区、市）赛事活动一律不设奖金奖品。”本届大赛，各奖项一律不设奖金和任何形式的奖品；只为获奖选手颁发奖杯、证书及纪念品。

（二）决赛入围：
市级决赛暨太原分赛区选拔的各组前20名优秀选手代表太原市参加中央电视台“希望之星”英语风采大赛山西赛区的决赛；山西省决赛将选拔选手代表山西省在中央电视台参加全国总决赛。
　　 
八、其他
1、大赛海选不收取任何费用，初赛费50元、复赛费60元（用于购买大赛指导用书《星历程》，以及央视官网注册）。
4、选手参赛过程中，如必须集中某地比赛，而产生的交通、食宿、活动管理等费用，由选手自理。
5、全国组委会编辑出版了《星历程――2012年度大赛参赛手册》，供参赛选手使用，进入复赛的选手可凭借星历程所附注册卡在希望之星官网-希米网注册成为俱乐部会员。

九、“希望之星”英语风采大赛省组委会联系方式： 
中央电视台“希望之星”英语风采大赛太原市组委会 
地 址：太原市小店区长风街116号北美新天地时尚中心二层 
联系电话： 0351-7856380
大赛网址： cctvoe.jiazhang.org
电子邮箱：CCTVOE_TY@163.com 

“希望之星”英语风采大赛太原市组委会对本届大赛的所有活动安排有最终解释权。
                    
2012年度中央电视台“希望之星”英语风采大赛
太原市组委会
2011年11月28日

			
			</textarea>
			</div>
		</div>
	</div>
</div>
<div id="foot">
  <div class="foottext">合作媒体:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CCTV少儿频道&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;希米网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;瑞斯学科英语&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;山西省网上家长学校</div>
</div>


</body>
</html>
