<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>希望之星2012英语风采大赛</title>
<style type="text/css">
<!--
body { margin:0; } 

#top {
	height: auto;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.STYLE4 {font-size: 12px}
#main {
	height: 500px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#main .cl {
	display: block;
	float: left;
	height: 480px;
	width: 280px;
	padding: 10px;
}
#main .cl .cltext {
	display: block;
	float: left;
	height: 477px;
	width: 277px;
	border: 1px solid #CCCCCC;
}
#main .cl .cltext .cltitle {
	line-height: 1.5;
	text-align: center;
	display: block;
	float: left;
	height: 60px;
	width: 276px;
	padding-top: 5px;
	font-weight: bold;
}
#main .cl .cltext .clcontent {
	display: block;
	float: left;
	height: auto;
	width: 276px;
	padding-top: 5px;
}
#main .cr {
	display: block;
	padding: 10px;
	float: left;
	height: 480px;
	width: 659px;
}
#main .cr .crtext {
	display: block;
	float: left;
	height: 477px;
	width: 656px;
	border: 1px solid #CCCCCC;
}
#main .cr .crtext .crtitle {
	line-height: 1.5;
	font-weight: bold;
	text-align: center;
	display: block;
	float: left;
	height: 30px;
	width: 655px;
	padding-top: 5px;
}
#main .cr .crtext .crcontent {
	display: block;
	float: left;
	height: 412px;
	width: 645px;
	padding: 5px;
}
#foot {
	background-image: url(images/ftbg.jpg);
	background-repeat: repeat-x;
	height: 87px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#foot .foottext {
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	float: left;
	height: auto;
	width: 939px;
	padding-top: 30px;
	padding-left: 40px;
}
-->
</style>
</head>

<body>
<div id="top"><img src="images/bmbg.jpg" /></div>

  <%= yield %>

<div id="foot">
  <div class="foottext">合作媒体:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CCTV少儿频道&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;希米网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;瑞斯学科英语&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;山西省网上家长学校</div>
</div>


</body>
</html>

