<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2012年度希望之星英语风采大赛太原赛区</title>
<style>
body,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd{padding:0;margin:0;}
</style>
<%= stylesheet_link_tag 'style' %>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/s3Slider.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#slider').s3Slider({
            timeOut: 6000
        });
    });
</script>
<style>
#slider {
	width: 379px; /* important to be same as image width */
	height: 258px; /* important to be same as image height */
	position: relative; /* important */
	overflow: hidden; /* important */
}
#slider img{
    border: 0px;
}

#sliderContent {
	width: 378px; /* important to be same as image width or wider */
	position: absolute;
	top: 0;
	margin-left: 0;
}
.sliderImage {
    float: left;
    position: relative;
	display: none;
}
.sliderImage span {
    position: absolute;
	font: 12px/14px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 371px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.sliderImage span strong {
    font-size: 14px;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}
ul { list-style-type: none;}
</style>
</head>

<body>
<div id="top"><%= image_tag 'topbg.jpg', :width => '980', :height => '270', :border => '0' %></div>

<%= yield :layout %>

<div id="foot">
	<div class="foottext">合作机构</div>
	<div class="footpic"><%= image_tag 'hezuo.jpg' %></div>
</div>
</body>
</html>
